.attendance-list {
    width: 25%;
    height: 300px;
    position: absolute;
    left: 30px;
    top: 50px;
    overflow-y: scroll;
}

.attendance-list table {
    background-color: #fff;
}

.photo-box {
    width: 70%;
    margin-left: 30%;
}

.photo-detection-ret-prompt{
    position: absolute;
    bottom: 1px;
    left: 1px;
    font-size: .3em;
    color: #fff;
    text-shadow: 0 0 5px #000;
}
