.person-name-tag {
    width: 170px;
    padding: 10px;
    margin: 5px 2%;
    display: inline-block;
    position: relative;

    color: #000;
    font-size: 15px;

    background-color: #fdfdfd;
    border-radius: 5px;
    border: 1px #59b solid;

    transition: color .2s, background-color .2s, border-color .2s;
}

.person-name-tag .person-name {
    cursor: pointer;
}

.person-name-tag p {
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.person-name-tag:hover {
    color: #fdfdfd;
    background-color: #59b;
    border-color: #fdfdfd;
}

.person-name-tag .person-name-tag-delete {
    position: absolute;
    right: 5px;
    bottom: 1px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.person-name-tag .person-name-tag-photo-prompt{
    position: absolute;
    right: 5px;
    top: 2px;
    font-size: .7em;
}

.person-name-tag:hover .person-name-tag-delete,
.person-name-tag:active .person-name-tag-delete {
    opacity: 1;
}
