body {
    background-image: url(../../static/background.jpg);
}

.center-window {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;

    padding: 30px;
    margin-top: 80px;

    transition: all .2s;
}

.center-window-box {
    width: 100%;
    height: 300px;

    overflow-y: scroll;
    padding: 10px;
    margin: 20px auto;
    text-align: left;

    border: 1px #27a dashed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.add-button {
    background-color: #fff;
    color: #555;
    opacity: .7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    transition: background-color .3s, color .3s, transform .5s;
    margin: 5px 2%;

    display: inline-block;
}

.add-button.rotated {
    transform: rotate(225deg);
}

.add-button:hover {
    background-color: #59b;
    color: #fff;
}

.add-button .glyphicon {
    line-height: inherit;
    position: relative;
    /* top and left are set by testing... */
    top: 10px;
    left: 1px;
}

.user-prompt {
    position: absolute;
    right: 10px;
    top: 5px;
}

.logout-btn {
    cursor: pointer;
    border-radius: 2px;
    transition: color .2s, background-color .2s;
}

.logout-btn:hover {
    color: #fff;
    background-color: #59d;
}

.return-button{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    padding: 2px;

    border-radius: 5px;
    transition: background-color .2s,color .2s;
}

.return-button:hover{
    background-color: #59d;
    color: #fff;
}

.photo-thumbnail {
    position: relative;
    display: inline-block;
    max-width: 20%;
    max-height: 300px;
    margin: 5px 2%;
}

.photo-thumbnail img {
    max-width: 100%;
    max-height: 100%;
    margin: 5px 2%;
    border-radius: 5px;
}

.photo-thumbnail .photo-delete {
    position: absolute;
    right: 3px;
    bottom: 5px;
    opacity: 0;

    color: #fff;
    text-shadow: 0 0 2px #000;

    cursor: pointer;

    transition: opacity .2s
}

.photo-thumbnail:hover .photo-delete,
.photo-thumbnail:active .photo-delete {
    opacity: 1;
}

