body {
    /*background-size: cover;*/
    background-image: url(../../static/background.jpg);
    text-align: center;
}

.center-window {
    display: inline-block;
    position: relative;

    vertical-align: middle;

    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;

    padding: 30px;
    margin-top: 80px;

    transition: all .2s;
}

.center-window-box {
    width: 700px;
    height: 300px;

    overflow-y: scroll;
    padding: 10px;
    margin: 20px auto;
    text-align: left;

    border: 1px #27a dashed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media screen and (min-width: 480px) {
    .center-window-box {
        width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .center-window-box {
        width: 600px;
    }
}

@media screen and (min-width: 992px) {
    .center-window-box {
        width: 700px;
    }
}

@media screen and (min-width: 1200px) {
    .center-window-box {
        width: 900px;
    }
}


.add-button{
    background-color: #fff;
    color: #555;
    opacity: .7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    transition: background-color .3s, color .3s, transform .5s;
    margin: 5px 2%;

    display: inline-block;
}

.add-button.rotated{
    transform: rotate(225deg);
}

.add-button:hover {
    background-color: #59b;
    color: #fff;
}

.add-button .glyphicon {
    line-height: inherit;
    position: relative;
    /* top and left are set by testing... */
    top: 10px;
    left: 1px;
}

.user-prompt{
    position: absolute;
    right: 10px;
    top:5px;
}

.logout-btn{
    cursor: pointer;
    border-radius: 2px;
    transition: color .2s,background-color .2s;
}
.logout-btn:hover{
    color: #fff;
    background-color: #59d;
}