{% extends "layout.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/attendance.css') }}">
{% endblock %}
{% block body %}
    <div class="center-window">
        <div class="attendance-list">
            <table class="table table-condensed">
                <tr>
                    <th>id</th>
                    <th>姓名</th>
                    <th>识别结果</th>
                </tr>
                {% for p in person_list %}
                    <tr data-person-name="{{ p.name }}">
                        <td>{{ p.id }}</td>
                        <td>{{ p.name }}</td>
                        <td><span class="glyphicon glyphicon-ok hidden"></span></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="return-button" onclick="window.location.href = '{{ url_for("sjtuface.home") }}'">
            <span class="glyphicon glyphicon-arrow-left"></span> 返回
        </div>

        <div class="text-danger">
            {% for e in errors.photo %}<p> {{ e }} </p>{% endfor %}
        </div>

        <div class="center-window-box photo-box">
            {% for name in photo_names %}
                <div class="photo-thumbnail" data-filename="{{ name }}">
                    <img src="{{ url_for('static',filename='/'.join(['uploads_attendance', name])) }}">
                    <span class="photo-detection-ret-prompt">
                        未识别
                    </span>
                    <span class="photo-delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </span>
                </div>
            {% endfor %}
            <div class="photo-thumbnail add-button">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>

        <form id="photo-form" method="post" action="{{ url_for("sjtuface.attendance") }}"
              enctype="multipart/form-data" hidden>
            {{ form.csrf_token }}
            {{ form.photo }}
        </form>

        <div class="text-center">
            <button class="btn btn-info btn-lg" id="identify-button">开始识别</button>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var $form = $("#photo-form");
        var $photo = $form.children("#photo")[0];

        function auto_submit_if_has_file() {
            if ($photo.files.length > 0) {
                $form.submit();
            } else {
                window.setTimeout(auto_submit_if_has_file, 500);
            }
        }

        $(".add-button").click(function () {
            $photo.click();
            window.setTimeout(auto_submit_if_has_file, 500);
        });


        $("#identify-button").click(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{{ url_for('sjtuface.identify') }}",
                success: function (msg) {
                    alert("识别结束!");
                    for (var filename in msg) {
                        $(".attendance-list").find("tr[data-person-name='%s']".replace('%s', msg[filename]))
                                .find("span.glyphicon").removeClass('hidden');
                        $(".photo-thumbnail[data-filename='%s']".replace('%s', filename))
                                .children(".photo-detection-ret-prompt").text(msg[filename]);
                    }
                },
                timeout: 1000 * 60 * 60
            });
        });

        $(".photo-delete").click(function () {
            var filename_to_be_del = $(this).parent().attr("data-filename");
            $.ajax({
                type: "DELETE",
                url: "{{ url_for('atd_photo', filename="name") }}".replace('name', filename_to_be_del),
                success: function () {
                    window.location.href = '{{ url_for("sjtuface.attendance") }}';
                }
            });
        });
    </script>
{% endblock %}


