<!doctype html>
<title>SJTU Face!</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
{% block styles %}{% endblock %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
</head>

<body>

{% if current_user.is_authenticated %}
<div class="user-prompt">
    <span>Hi, {{ current_user.username }}</span>
    <div class="logout-btn" onclick="window.location.href='{{ url_for("sjtuface.logout") }}'">
        登出 <span class="glyphicon glyphicon-log-out"></span>
    </div>
</div>
{% endif %}

{% block body %}{% endblock %}
</body>

{% block script %}{% endblock %}