{% extends "layout.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/person.css') }}">
{% endblock %}
{% block body %}
    <div class="center-window">
        <div class="person-name-box">
            {% for person in people %}
                <div class="person-name-tag"
                     onclick="window.location.href='{{ url_for("sjtuface.person_detail", person_id=person.id) }}'">
                    <p class="person-id" hidden>{{ person.id }}</p>

                    <p>{{ person.name }}</p>
                    <span class="person-name-tag-delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </span>
                </div>
            {% else %}
                <div>此地荒无人烟.....</div>
            {% endfor %}
        </div>

        <form class="form" method="post" action="{{ url_for("sjtuface.person") }}">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="id">id</label>
                {{ form.id }}
                <div class="text-danger">
                    {% for e in errors.id %}<p> {{ e }} </p>{% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="name">姓名</label>
                {{ form.name }}
                <div class="text-danger">
                    {% for e in errors.name %}<p> {{ e }} </p>{% endfor %}
                </div>
            </div>
            <button class="btn btn-default" type="submit">添加</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(".person-name-tag-delete").click(function () {
            var id_to_be_del = $(this).siblings(".person-id").text();

            $.ajax({
                type: "DELETE",
                url: "{{ url_for("person", person_id="id") }}".replace('id', id_to_be_del),
                success: function () {
                    location.reload();
                }
            });

        });
    </script>
{% endblock %}


